:root {
    --main-bg-color: #e5d7ca;
    --card-border-color: #822B34;
    --card-bg-color: #2A3245;
}

* {
    font-family: 'Titillium Web', sans-serif;
}

html {
    margin: 0;
    width: 100%;
}

body {
    display: flex;
    width: 100%;
    background-color: #e5d7ca;
    margin: 0;
    justify-content: center;
    padding-top: 1%;
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

header {
    display: flex;
    justify-content:left ;
    width: 98%;
    min-width: 98%;
    box-sizing: border-box;
    max-height: 40vh;
}

.content-card-borders {
    border-style: solid;
    background-color: #2A3245;
    border-radius: 20px;
    border-color: #822B34;
    border-width: 12px;
    color: white;
    padding: 20px;
}

.content-row {
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-between;
    flex-direction: row;
    min-width: 100%;
    position: relative;
    max-height: 40vh;
}

.content-card {
    display: block;
    justify-content: space-evenly;
    width: 45%;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
    max-height: 40vh;
    overflow: scroll;
}