/* General attributes */

:root {
    --main-bg-color: #e5d7ca;
    --card-border-color: #822B34;
    --card-bg-color: #2A3245;
}

* {
    font-family: 'Titillium Web', sans-serif;
}

html {
    margin: 0;
    width: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #e5d7ca;
    margin: 0;
    justify-content: center;
    padding-top: 1%;
    background-position: center;
}

header {
    margin-bottom: 7px;
}

main {
    width: 95vw;
    padding-bottom: 10px;
    flex-direction: column;
}

#page-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95vw;
    margin: 0 -14px
}
#page-title h1 {
    width: 100%;
    margin:10px 25px;
}

/* Sets up consistent styling between different boxes */
.row {
    flex-direction: row;
}

.content-card-borders {
    border-style: solid;
    background-color: #2A3245;
    border-radius: 20px;
    border-color: #822B34;
    border-width: 12px;
    color: white;
}

.content-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 100%;
    position: relative;
}

.content-card {
    display: inline-block;
    box-sizing: border-box;
    padding: 35px;
    width: 100%;
    min-height: 28vh;
    max-height: 28vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-card::-webkit-scrollbar {
    display: none;
}

.card-title {
    font-size: 18px;
}

.card-header {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.both-headers {
    display: flex;
    width: 100%;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    flex-direction: column;
}

.box-header {
    display: flex;
    height: 250px;
}

.both-headers h2 {
    display: inline-block;
    width: 100%;
    justify-content: left;
    height: 12%;
    text-align: center;
    flex-direction: column;
    font-weight: 500;
}

.both-headers h1 {
    display: inline-block;
    width: 100%;
    height: 12%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.box-text {
    display: block;
    width: 100%;
    flex-wrap: nowrap;
    text-align:left;
    position: relative;
    justify-content: center;
}

.box-img {
    display: inline-block;
    width: 50%;
    align-items: center;
    justify-items: baseline;
}

/* .box-img > img {
    display: block;
    min-width: auto;
    max-width: auto;
    max-height: 250px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    object-fit:contain;
} */

.box-img > img {
    display: block;
    min-width: auto;
    max-width: auto;
    max-height: 250px;
    border-style: none;
    object-fit:contain;
    max-width: 100%;
}

#event-content .box-img > img {
    max-height: none;
}

#holiday-content .box-img > img {
    max-height: none;
}

.both-headers {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


.both-headers  h1 {
    display: block;
    /* height: 50%; */
    justify-content: center;
    flex-direction: column;
}

#date-picker-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 25px;
    border-color: white;
    border-width: 5px;
    color: var(--card-bg-color);
    width: fit-content;
    margin-right: 20px;
}

#date-picker {
    background-color: white;
    border-radius: 25px;
    border-color: var(--main-bg-color);
    color: black;
    margin: 0 10px 0 0;
    height: 2em;
    width: 8em;
    text-align: center;
}

#date-picker-form button {
    border-radius: 15px;
       width: 44%;
    color: white;
    vertical-align: middle;
}

/* FOR THE DATE PICKER PLACEHOLDER TEXT */
/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
    color: slategrey;
    opacity: 1;
}

/* Internet Explorer 10-11 */

:-ms-input-placeholder { 
    color: white;
}

/* Microsoft Edge */

::-ms-input-placeholder {
    color: white;
}


#birth-box {
    margin-right: 5px;
    width: 99%;
    box-sizing: border-box;
}

#death-box{
    margin-left: 5px;
    width: 99%;
    box-sizing: border-box;
}

#holiday-box {
    margin-left: 5px;
    width: 99%;
    box-sizing: border-box;
}

#event-box {
    margin-right: 5px;
    width: 99%;
    box-sizing: border-box;
}

.wikimedia-cards {
    display: flex;
    /* margin-top: 10px; */
}

#event-box .both-headers {
    width: 100%;
    display: block;
    height: auto;
}

#holiday-box .both-headers {
    display: flex;
    justify-content: center;
    width: 100%;
    display: block;
    height: auto;
}

#event-box .box-header {
    width: 100%;
    display: block;
    flex-direction: column;
    height: auto;
}

#holiday-box .box-header {
    width: 100%;
    display: block;
    flex-direction: column;
    height: auto;
}

#event-box .box-header .both-headers h2 {
    display: block;
    width: 100%;
    justify-content: center;

}

#event-box .box-header .both-headers h1 {
    display: block;
    width: 100%;
    justify-content: left;
    flex-direction: column;
    margin-top: -10px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

#holiday-box .box-header .both-headers h2 {
    display: block;
    width: 100%;
    justify-content: center;
}

#holiday-box .box-header .both-headers h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: -10px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

#holiday-box .box-header .box-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

#event-box .box-header .box-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

#holiday-box .box-header .box-img img {
    justify-content: center;
    width: 25%;
}

#event-box .box-header .box-img img {
    justify-content: center;
    width: 25%;
}

#holiday-box .box-text {
    
}

#event-box .box-text {
    
}

#book-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    /* margin-top: 1.5em; */
}

.book-text-container {
    display: flex;
    width: 35%;
    flex-direction: column;
}

.book-header {
    width: 100%;
}

.book-author {
    width: 100%;
}

.book-pic img {
    display: flex;
    width: 30%;
    margin: 1em;
}

.book-text {
    width: 100%;
}

.book-url {
    width: 100%;
    margin: 2em;
    border-bottom:2em;
}

#fic-sec {
    flex-direction:column;
    width:45%;
}

#non-fic-sec {
    flex-direction: column;
    width:45%;
}

.refresh-container {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: max-content;
    position: absolute;
}
.refresh {
    height: 25px;
    width: auto;
}

.refresh:active {
    height: 23px;
    width:auto;
}
.refresh:hover {
    cursor: pointer;
}
/* Loading animation styles, most code from https://blog.hubspot.com/website/css-loading-animation */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, var(--card-bg-color), var(--main-bg-color));
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }

  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }

/* animation by Ged Kirkham https://gedkirkham.dev/blog/post/loading-icon-button-tutorial.html */
.refresh-start {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
    
    
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes rotate {

    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
    
    }

    @media screen and (max-width:920px) {
        .content-row {
            flex-direction: column;
        }
        #page-title h1 {
            font-size: 125%;
        }
    }